@page "/"

<div class="d-flex justify-content-center">
    <img src="/images/logo.png"/>
</div>
<br />
<h1 class="text-center">Welcome to Invoice Manager</h1>
<p class="text-center btn-purple">Navigate to the left</p>
<br />
<p class="text-center btn-purple">Import Invoices to get started</p>



