<div class="h-100">
    <div class="">
        <div class="nav flex-column shadow bg-white d-flex justify-content-between position-absolute h-100 w-100">
            <div>
                <div class="nav-item">
                    <SideBarButton Name="Home" IconName="home.svg" Href="/" />
                </div>
                <div class="nav-item">
                    <SideBarButton Name="Display Invoices" IconName="text.svg" Href="/displayinvoice" />
                </div>
                <div class="nav-item">
                    <SideBarButton Name="Find Invoices" IconName="search.svg" Href="/findinvoice" />
                </div>
                <div class="nav-item">
                    <SideBarButton Name="Import Invoices" IconName="arrow.svg" Href="/importinvoice" />
                </div>
            </div>
        </div>
    </div>
</div>


@code {
}
